<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @* Alla "bilder" i navigationsbaren är anchors med en div som bildar knappen *@
                    <a href='@Url.Action("Index", "Home")'>
                        <button style="border-radius:8px; background:#339933;height:100px;width:100px;">You</button>
                        @*<div style="border-radius:8px; background:#339933;height:100px;">
                          
                        </div>*@
                        </a>
                    <a href='@Url.Action("Upload", "Home")'>
                        <button style="border-radius:8px; background:#3399ff;height:100px;width:100px;">Upload</button>
                        </a>
                    <a href='@Url.Action("Contact", "Home")'>
                        <button style="border-radius:8px; background:#ff80aa;height:100px;width:100px;">Market</button>
                        </a>
</ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
