
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_NavBarProfile</title>
</head>
<body>
    @* Ska flyttas till css fil *@
    <div style="margin-top:60px;">
        <a href='@Url.Action("Overview", "Profile")'>
            <button style="border-radius:8px;width:100px;">Overview</button>
            </a>
        <a href='@Url.Action("Uploads", "Profile")'>
            <button style="border-radius:8px; width:100px;">Uploads</button>
            </a>
        <a href='@Url.Action("Downloads", "Profile")'>
            <button style="border-radius:8px;width:100px;">Downloads</button>
            </a>
        <a href='@Url.Action("Widgets", "Profile")'>
            <button style="border-radius:8px;width:100px;">My Widgets</button>
            </a>
        <a href='@Url.Action("Account", "Profile")'>
            <button style="border-radius:8px;width:100px;">Account</button>
            </a>
</div>
    @RenderBody()
</body>
</html>
